.organisation_group_member
  - new_or_existing = organisation_group_member.new_record? ? 'new' : 'existing'
  - prefix = "organisation_group[#{new_or_existing}_organisation_group_member_attributes][]"
  - fields_for prefix, organisation_group_member do |f|
    %p
      - organisation = organisation_group_member.organisation_id ? Organisation.find(organisation_group_member.organisation_id) : nil
      = render :partial=>'organisation', :object=>organisation, :locals=>{:f=>f, :index=>nil}
    %p
      %label
        &nbsp;
      = link_to_function "delete this organisation_group_member", "$(this).up('.organisation_group_member').remove()"

