= render :partial => 'acoba_reported_former_role', :collection => acoba_reported_appointee.former_roles
= render :partial => 'acoba_reported_appointment', :collection => acoba_reported_appointee.appointments
