%h2 Register of Financial Interests Entry
- members_interests_entry.members_interests_items.group_by(&:members_interests_category).each do |category, items|
  %p
    = category.name
  %ul
    - items.each do |item|
      %li= show_interest item
