- @title = 'People'
%h2 Current MPs
%ul
  = render :partial => 'mp', :collection => @mps, :locals => {:mp_details => @mp_details}
%h2 Others
%ul
  = render :partial => 'person', :collection => @others

