%li
  = h appointing_minister.title
  %ul
    - @advisors_by_minister[appointing_minister].sort_by(&:name).each do |advisor|
      %li
        = link_to h(advisor.name), special_advisor_url(:date=> @at_date, :person_id=>advisor.friendly_id)
        - if advisor.qualification
          = "(#{advisor.qualification})"
