- staff_member_by_organisation.group_by(&:organisation).each do |organisation, consultants|
  %li
    - consultant = consultants.first
    - entries = consultants.collect(&:register_entry)
    = link_to_consultant consultant.name, entries.first
    worked with
    = link_to h(consultant.consultancy), organisation_path(consultant.organisation)
    %small
      = link_to_periods entries
