- @title = @organisation.name
#org_name
= render :partial => 'form', :object => @organisation
- if @organisation.register_entries.first
  = h(@organisation.register_entries.first.office_contacts.inspect)
