- @title = @organisation.name
- unless @consultancy_clients.empty?
  %h2 Lobbyist's Retained
  = render :partial => 'lobbyist_client', :collection => @consultancy_clients

- unless @register_entries.empty?
  %h2 Public Affairs Clients
  = render :partial => 'register_entry', :collection => @register_entries

- unless @organisation.data_sources.empty?
  %h2 Data sources
  - @organisation.data_sources.each do |data_source|
    %p= link_to h(data_source.name), data_source_path(data_source)

