- @title = @organisation.name
- if @organisation.company_number
  .company_number
    Company No.
    = @organisation.company_number
- unless @client_data_sources.empty?
  %h2 Lobbyists Retained
  = render :partial => 'client_data_source', :collection => @client_data_sources
- unless @register_entries.empty?
  %h2 Public Affairs Clients
  = render :partial => 'register_entry', :collection => @register_entries

- unless @organisation.data_sources.empty?
  %h2 Data sources
  - @organisation.data_sources.each do |data_source|
    %p= link_to h(data_source.name), data_source_path(data_source)

