<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.1 plus MathML 2.0//EN" "http://www.w3.org/TR/MathML2/dtd/xhtml-math11-f.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://dublincore.org/documents/dcmi-terms/">
    <meta http-equiv="Content-Type" content="application/xhtml+xml; charset=utf-8"/>
    <title xml:lang="en-US">UK Government Department Lobbying Transparency Scorecard | Who's Lobbying?</title>

    <style type="text/css">
body {
	color: #333;
	font-family: Helvetica Neue,Arial,Helvetica,sans-serif;
}
body #container {
  display: block;
  width: 700px;
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
}
p {
  line-height: 1.5em;
}
a {
  color: #864B00;
  text-decoration: none; }

a:visited {
  color: #B96D00; }

a:hover {
  text-decoration: underline; }

table {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	background: #fff;
	width: 590px;
	border-collapse: collapse;
	text-align: left;
}
img {
  border: 0px;
}
th
{
	font-weight: normal;
	color: #333;
	padding: 1em 0.2em;
	border-bottom: 2px solid #333;
}
td
{
	border-bottom: 1px solid #ccc;
	color: #333;
	padding: 0.1em 0.2em;
}
td.best, td.laggard {
	border-bottom: none;
}
.laggard {
  padding-left: 1.5em;
	border-left: 1px solid #ccc;
}
.missing
{
  font-size: 0.75em;
}
.ask
{
  font-size: 1em;
}
.count {
  font-size: 2.8em;
  line-height: 1.3em;
}
.red
{
  color: darkred;
}
.amber
{
  color: #333;
}
.green
{
  color: darkgreen;
}
.tweet {
}
th {
  font-weight: bold;
}
dl {
  font-size: 0.8em;
  margin: 0em;
  margin-bottom: 0.5em;
}
dt {
  margin: 0;
  padding: 0;
  display:inline;
}
dd {
  margin: 0;
  padding: 0;
  display:inline;
}
h2 {
  margin-top: 1.5em;
}
.help {
  font-size: 1.8em;
}
.ranking {
 vertical-align: top;"
}
	</style>
<script type="text/javascript">
window.google_analytics_uacct = "UA-18183959-3";
</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-18183959-3']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
  </head>
  <body>
    <div id="container">
    <div id="header">
    <h1 id="banner">
      <%= link_to image_tag('whoslobbying_header_60.png'), '/' %>
    </h1>
    </div>
    <h1>Government Department Transparency Scorecard</h1>
<div>
  <dl>
    <dt>This version:</dt>
    <dd><a href="http://whoslobbying.com/uk/gov_transparency/2010-10-07">http://whoslobbying.com/uk/gov_transparency/2010-10-07</a></dd><br/>
  </dl>
  <dl>
    <dt>Latest version:</dt>
    <dd><a href="http://whoslobbying.com/uk/gov_transparency">
             http://whoslobbying.com/uk/gov_transparency</a></dd>
  </dl>
  <dl>
    <dt>Previous version:</dt>
    <dd><a href="http://whoslobbying.com/uk/gov_transparency/2010-09-12">http://whoslobbying.com/uk/gov_transparency/2010-09-12</a></dd>
  </dl>
</div>

  <p>The UK Government has <a href="#promises">promised</a> that departments will publish, at least quarterly, Ministerial meetings, hospitality, gifts and travel, and senior civil servant hospitality.</p>
  <p>This scorecard indicates how well departments have kept the government's transparency promises.</p>
  <table>
    <thead>
      <tr>
        <th class="best">Best transparency<br />performers<br /></th>
        <th class="laggard">Transparency<br />laggards</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="best"><!-- Department for Culture, Media and Sport (DCMS) --><br />
        <a href="#dcms">1. <img class="ranking" src="http://govspark.org.uk/static/images/logos/dcms.png" width="150px" height="150px" alt="Department for Culture, Media and Sport" /></a></td>
        <td class="laggard"><br /><br />
        <!-- Prime Minister's Office (No 10)<br /> -->
        <a href="#no10">1. &nbsp;<img class="ranking" src="http://govspark.org.uk/static/images/logos/no10.png" width="150px" height="31px" alt="Number 10" /></a><br /><br /><br /></td>
      </tr>
      <tr>
        <td class="best"><!-- Department of Energy and Climate Change (DECC)<br /> -->
        <a href="#decc">2. <img class="ranking" src="http://govspark.org.uk/static/images/logos/decc.png" width="150px" height="150px" alt="Department of Energy and Climate Change" /></a></td>
        <td class="laggard"><!-- Department for International Development (DFID)<br /> -->
        <a href="#dfid">2. <img class="ranking" src="http://govspark.org.uk/static/images/logos/dfid.png" width="150px" height="150px" alt="Department for International Development" /></a></td>
      </tr>
      <tr>
        <td class="best"><!-- Department for Transport (DfT)<br /> -->
        <a href="#dft">3. <img class="ranking" src="http://govspark.org.uk/static/images/logos/dft.png" width="150px" height="150px" alt="Department for Transport" /></a></td>
        <td class="laggard"><!-- Department for Education (DfE)<br /> -->
        <a href="#dfe">3. <img class="ranking" src="http://govspark.org.uk/static/images/logos/dfe.png" width="150px" height="150px" alt="Department for Education" /></a></td>
      </tr>
    </tbody>
  </table>
  <p class="help">You should ask departments via twitter why they are late in publishing, click a link below.</p>

    <table class="ta1">
      <colgroup>
        <col width="350"/>
        <col width="200"/>
        <col width="750"/>
      </colgroup>
      <thead>
        <tr class="ro1">
          <th class="ce1">
            <p>Department</p>
          </th>
          <th style="text-align:center" class="ce3">
            <p>Reports <br />available <br />back to <br /> Oct 2009</p>
          </th>
          <th class="ce1">
            <p>Not available<br />as at 7 Oct 2010</p>
          </th>
        </tr>
      </thead>
    </tbody>
    <tr id="no10" class="ro2">
      <td class="ce2">
        <p><!-- Prime Minister's Office (No 10)<br /> -->
        <br /><br />
        <img src="http://govspark.org.uk/static/images/logos/no10.png" width="150px" height="31px" alt="Number 10" /><br /><br /><br /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">0</span> of 14 reports available</span></p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@Number10gov%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23no10%20%23transparency">Ask @Number10gov on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3, '09 Q4<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q1,Q2,Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="dfid" class="ro2">
      <td class="ce2">
        <p><!-- Department for International Development (DFID)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/dfid.png" width="150px" height="150px" alt="Department for International Development" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">0</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@DFID_UK%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23dfid%20%23transparency">Ask @DFID_UK on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3, '09 Q4<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q1,Q2,Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="dfe" class="ro2">
      <td class="ce2">
        <p><!-- Department for Education (DfE)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/dfe.png" width="150px" height="150px" alt="Department for Education" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">1</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@educationgovuk%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23dfe%20%23transparency">Ask @educationgovuk on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q1,Q2,Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="ago" class="ro2">
      <td class="ce2">
        <p><br />
        Attorney General’s Office (AGO)<br />
        <br /><br /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">2</span> of 14 reports available</p>
      </td>
      <td>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q1,Q2,Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="co" class="ro2">
      <td class="ce2">
        <p><!-- Cabinet Office (CO)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/co.png" width="150px" height="150px" alt="Cabinet Office" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">2</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@cabinetofficeuk%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23co%20%23transparency">Ask @cabinetofficeuk on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3, '09 Q4<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="defra" class="ro2">
      <td class="ce2">
        <p><!-- Department for Environment, Food and Rural Affairs (Defra)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/defra.png" width="150px" height="150px" alt="Department for Environment, Food and Rural Affairs" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">2</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@DefraGovUK%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23defra%20%23transparency">Ask @DefraGovUK on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3, '09 Q4<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="ho" class="ro2">
      <td class="ce2">
        <p><!-- Home Office (HO)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/ho.png" width="150px" height="150px" alt="Home Office" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">2</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@ukhomeoffice%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23ho%20%23transparency">Ask @ukhomeoffice on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3, '09 Q4<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="hmt" class="ro2">
      <td class="ce2">
        <p><!-- HM Treasury (HMT)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/hmt.png" width="150px" height="150px" alt="HM Treasury" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">2</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@hmtreasury%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23hmt%20%23transparency">Ask @hmtreasury on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3<br />civil servant hospitality 2010 Q1,Q2,Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="so" class="ro2">
      <td class="ce2">
        <p><br />
        Scotland Office (SO)<br /><br /><br /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">2</span> of 10 reports available</p>
      </td>
      <td>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="dh" class="ro2">
      <td class="ce2">
        <p><!-- Department of Health (DH)<br /> -->
        <br />
        <img src="http://govspark.org.uk/static/images/logos/dh.png" width="150px" height="57px" alt="Department of Health" />
        <br />
        <br />
        <br />
        </p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">3</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@DHgovuk%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23dh%20%23transparency">Ask @DHgovuk on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="dwp" class="ro2">
      <td class="ce2">
        <p><!-- Department for Work and Pensions (DWP)<br /> -->
        <img width="150px" height="150px" alt="Department for Work and Pensions" src="http://govspark.org.uk/static/images/logos/dwp.png">
        </p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">3</span> of 14 reports available</p>
      </td>
      <td>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3<br />civil servant hospitality 2010 Q1,Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="geo" class="ro2">
      <td class="ce2">
        <p><br />
        Government Equalities Office (GEO)<br />
        <br />
        <br />
        </p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">3</span> of 14 reports available</p>
      </td>
      <td>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3, '09 Q4<br />ministerial hospitality 2010 Q1,Q2,Q3, '09 Q4<br />civil servant hospitality 2010 Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="oag" class="ro2">
      <td class="ce2">
        <p><br />
        Office of the Advocate General for Scotland (OAG)
        <br /><br /><br /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">4</span> of 10 reports available</p>
      </td>
      <td>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="bis" class="ro2">
      <td class="ce2">
        <p><!-- Department for Business, Innovation and Skills (BIS)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/bis.png" width="150px" height="150px" alt="Department for Business Information &amp; Skill" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">4</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@bisgovuk%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23bis%20%23transparency">Ask @bisgovuk on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q2,Q3<br />civil servant hospitality 2010 Q1,Q2,Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="mod" class="ro2">
      <td class="ce2">
        <p><!-- Ministry of Defence (MoD)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/mod.png" width="150px" height="150px" alt="Ministry of Defence" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="red"><span class="count">4</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@DefenceHQ%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23mod%20%23transparency">Ask @DefenceHQ on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3<br />civil servant hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="dclg" class="ro2">
      <td class="ce2">
        <p><!-- Department for Communities and Local Government (DCLG)<br /> -->
        <br />
        <br />
        <img src="http://govspark.org.uk/static/images/logos/clg.png" width="150px" height="66px" alt="Communities and Local Government" />
        <br />
        <br />
        <br />
        </p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="amber"><span class="count">5</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@CommunitiesUK%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23dclg%20%23transparency">Ask @CommunitiesUK on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q1,Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3<br />civil servant hospitality 2010 Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="fco" class="ro3">
      <td class="ce2">
        <p><!-- Foreign and Commonwealth Office (FCO)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/fco.png" width="120px" height="120px" alt="Foreign and Commonwealth Office" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="amber"><span class="count">5</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@foreignoffice%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23fco%20%23transparency">Ask @foreignoffice on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3<br />civil servant hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="moj" class="ro2">
      <td class="ce2">
        <p><!-- Ministry of Justice (MoJ)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/moj.png" width="150px" height="150px" alt="Ministry of Justice" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="amber"><span class="count">5</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@MoJGovUK%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23moj%20%23transparency">Ask @MoJGovUK on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q1,Q2,Q3<br />civil servant hospitality 2010 Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="wo" class="ro2">
      <td class="ce2">
        <p><br /><br /><br />
        Wales Office (WO)<br />
        <br /><br /></p><br />
      </td>
      <td style="text-align:center" class="ce4">
        <p class="amber"><span class="count">5</span> of 10 reports available</p>
      </td>
      <td>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="dcms" class="ro2">
      <td class="ce2">
        <p><!-- Department for Culture, Media and Sport (DCMS)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/dcms.png" width="150px" height="150px" alt="Department for Culture, Media and Sport" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="amber"><span class="count">6</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@DCMS%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23dcms%20%23transparency">Ask @DCMS on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q2,Q3<br />civil servant hospitality 2010 Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="decc" class="ro2">
      <td class="ce2">
        <p><!-- Department of Energy and Climate Change (DECC)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/decc.png" width="150px" height="150px" alt="Department of Energy and Climate Change" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="amber"><span class="count">6</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@DECCgovuk%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23decc%20%23transparency">Ask @DECCgovuk on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3 post-election<br />ministerial hospitality 2010 Q2,Q3 post-election<br />civil servant hospitality 2010 Q1,Q2,Q3, '09 Q4<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="dft" class="ro2">
      <td class="ce2">
        <p><!-- Department for Transport (DfT)<br /> -->
        <img src="http://govspark.org.uk/static/images/logos/dft.png" width="150px" height="150px" alt="Department for Transport" /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="amber"><span class="count">6</span> of 14 reports available</p>
      </td>
      <td>
        <p><a class="tweet" title="click to open twitter" href="http://twitter.com/home?status=.@transportgovuk%20why%20aren't%20you%20publishing%20meetings%20and%20hospitality%20quarterly?%20http://whoslobbying.com/uk/gov_transparency%23dft%20%23transparency">Ask @transportgovuk on twitter</a> why they are late in publishing.</p>
        <p>Not available:<br /><span class="missing">
        ministerial meetings 2010 Q2,Q3<br />ministerial hospitality 2010 Q2,Q3<br />civil servant hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
    <tr id="nio" class="ro4">
      <td class="ce2">
        <p><br /><br />
        Northern Ireland Office (NIO)<br />
        <br />
        <br /></p>
      </td>
      <td style="text-align:center" class="ce4">
        <p class="green"><span class="count">8</span> of 10 reports available</p>
      </td>
      <td>
        <p>Not available:<br /><span class="missing">
        ministerial hospitality 2010 Q2,Q3<br />ministerial travel 2010 Q2,Q3</span></p>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <h2 id="promises">Government's Transparency Promises</h2>
    <p>The <a href="http://www.cabinetoffice.gov.uk/media/409215/ministerialcodemay2010.pdf">Ministerial Code May 2010</a> states:</p>
    <ul>
      <li>Departments will publish, at least quarterly, details of gifts received and given by Ministers valued at more than £140. [7.22]</li>
      <li>Departments will publish, at least quarterly, details of hospitality
received by Ministers in a Ministerial capacity. [7.24]</li>
      <li>Departments will publish, at least quarterly, details of Ministers’ external meetings. [8.14]</li>
      <li>Departments will publish, at least quarterly, details of all travel overseas by Ministers. [10.3]</li>
    </ul>
    <p>The previous government, in a <a href="http://www.publications.parliament.uk/pa/cm200809/cmselect/cmpubadm/1058/1058.pdf">response</a> to the Public Administration Select Committee's report on lobbying, stated:</p>
    <ul>
      <li>Hospitality received by Ministers would "be published on-line by departments on a quarterly basis with effect from 1 October 2009".</li>
      <li>Hospitality and expenses "received by all Senior Civil Servants at Director General level and above" would be "published by departments on a quarterly basis and on-line" and that the "first quarterly report should cover the period 1 April to 30 June 2009".</li>
      <li>Ministerial meetings with outside interest groups would be published by departments "on-line on a quarterly basis" and that this would "be effective from 1 October 2009".</li>
    </ul>
</div>
<div>
  <h2>Disclaimer</h2>
  <p>Information in the scorecard is based on FOI responses from departments and searches of their websites. Every effort was made to find all publicly available department reports. Who's Lobbying? makes no guarantee of accuracy. If there is any doubt as to the accuracy of any information, you are responsible for verifying the same against an alternative source.</p>
</div>
<div>
  <h2>About Who's Lobbying?</h2>
  <p>Who's Lobbying? is a new project to develop an accessible and unified way of accessing publicly available information on UK lobbying.</p>

  <p>Follow <a href="http://twitter.com/whoslobbying">@whoslobbying</a> on twitter for updates.</p>

  <p>Read the blog post:
  <a href="http://blog.whoslobbying.com/post/1298451625/less-transparency">New UK rules deliver less government transparency</a>
  </p>
</div>
<p style="margin-top: 5em; margin-bottom: 5em; font-size: 0.8em">Copyright 2010 Who's Lobbying? | &lt;info @whoslobbying.com&gt; | twitter: <a href="http://twitter.com/whoslobbying">@whoslobbying</a>
</p>
</div>
</body>
</html>