%li
  = link_to organisation.name, organisation_path(organisation)
  - if show_classification && !organisation.company_classifications.empty?
    \-
    - organisation.company_classifications.each do |classification|
      = classification.sic_uk_class.description
