- @title = 'Industries lobbying'

%h2 Which industries have been lobbying?
%p In some cases, it's possible to match an organisation name to a company registered at companies house. Some companies specify their industry classification in their companies house entry. Using this we're able to show some of the industries that have been lobbying.

%ul
  = render :partial => 'section', :collection => @sections

