- @title = 'Industries lobbying'

%h2 Which industries have been lobbying?
%p Some organisations lobbying are companies registered at companies house. We can group them by the industry classification code they provide in their companies house entry.

%ul
  = render :partial => 'section', :collection => @sections

