- @title = @title || @section.description

%h2 Companies in this sector known to be lobbying

%ul
  = render :partial => 'organisation', :collection => @organisations, :locals => {:show_classification => @show_classifications}

%h2 Lobbyist firms retained by companies listed above

%ul
  = render :partial => 'lobbyist_firm', :collection => @lobbyists

